<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/reposity_hz</localRepository>
    <!--<maven.repo.local>${user.home}/.m2/repos-grs</maven.repo.local>-->
    <mirrors>
        <mirror>
            <id>aliyun</id>
            <mirrorOf>external:*,!nexus-r,!nexus-s,!nexus-grs-r,!nexus-grs-s,!nexus-3,!zjugrs,!cdh</mirrorOf>
            <url>http://maven.aliyun.com/nexus/content/groups/public</url>
        </mirror>
        <mirror>
            <id>nexus-grs</id>
            <mirrorOf>zjugrs</mirrorOf>
            <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/grs-proxy/</url>
        </mirror>
    </mirrors>
    <activeProfiles>
        <activeProfile>cominfo</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>cominfo</id>
            <repositories>
                <repository>
                    <id>aliyun</id>
                    <url>http://maven.aliyun.com/nexus/content/groups/public</url>
                </repository>
                <repository>
                    <id>nexus-r</id>
                    <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>nexus-s</id>
                    <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>nexus-3</id>
                    <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>cominfo-grs</id>
            <repositories>
                <repository>
                    <id>nexus-grs-r</id>
                    <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/grs-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>nexus-grs-s</id>
                    <url>http://repos.corp.hzcominfo.com:6080/nexus/content/repositories/grs-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>zjugrs</id>
                    <url>http://grs.zju.edu.cn/nexus/content/groups/public</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>public</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>snapshot-repository</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>release-repository</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-r</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-s</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-3</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-grs-r</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-grs-s</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>nexus-grs</id>
            <username>sunxy</username>
            <password>1qaz@WSX</password>
        </server>
        <server>
            <id>zjugrs</id>
            <username>deployment</username>
            <password>qazwsxedc</password>
        </server>
    </servers>
</settings>