<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全息档案</title>
</head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="../static/css/index.css" />
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.css"  type="text/css" />
<link rel="stylesheet" href="../static/css/frame.css" type="text/css">
<body>
    <!--头部开始-->
    <header>
        <div class="titleText">
            <h2>智推</h2>
            <span>数据建模分析平台</span>
        </div>
        <!--智能推荐...-->
        <ul class="titleList">
            <li>智能推荐</li>
            <li>标签工厂</li>
            <li class="active">超市模型
                <!--小三角-->
                <span></span>
            </li>
            <li>数据云池
                <!--小三角-->
                <span></span>
            </li>
        </ul>
        <!--头部右边的logo-->
        <div class="titleLogo">
            <!--设置图标-->
            <div class="headerIcon">
                <i class="fa fa-question-circle"></i>
                <i class="fa fa-gear"></i>
            </div>
            <!--头像-->
            <div class="nameBox">
                <div class="perImg"></div>
                <div>
                    <span>张三</span>
                    <span>萧山公安局</span>
                </div>
            </div>
        </div>
    </header>
    <!--头部结束-->
    <!--主体部分开始-->
    <section>
        <!--标题-->
        <ul class="title-sec">
            <li>超市模型
                <i class="fa fa-arrow-right"></i>
            </li>
            <li>涉黄
                <i class="fa fa-arrow-right"></i>
            </li>
            <li class="active">全息档案</li>
        </ul>
        <!--基本信息-->
        <div class="basicinformation">
            <div class="informationTitle">
                <span>基本信息</span>
            </div>
            <div class="personInfo">
                <!--图片的展示-->
                <div class="personImg"></div>
                <!--信息展示-->
                <table>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护      照：</td><td>38884977</td>
                        <td>文 化 程 度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>曾 用 名：</td><td>无</td>
                        <td>属    相：</td><td>牛</td>
                        <td>港 澳 通 行 证：</td><td>38884977</td>
                        <td>宗 教 信 仰：</td><td>伊 斯 兰 教</td>
                    </tr>
                    <tr>
                        <td>性   别：</td><td>男</td>
                        <td>星   座：</td><td>摩羯座</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>
                    <tr>
                        <td>姓      名：</td><td>张    三</td>
                        <td>姓 名 拼 音：</td><td>zhangsan</td>
                        <td>护照：</td><td>38884977</td>
                        <td>文化程度：</td><td>本科</td>
                    </tr>

                </table>
            </div>
        </div>

        <!--生物特征/登记信息-->
        <div class="InfoBox">
            <!--生物特征-->
            <div class="information creature">
                <div class="info_title">生物特征</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>身体特征</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>身体特征</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--登记信息-->
            <div class="information registration">
                <div class="info_title">登记信息</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>基本登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>教育登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>老年登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>疾病登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>门诊登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>住宿登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>出入境登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>驾照登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>快速登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>租车登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>职业登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>公共事业登记</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>医保/社保</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>市民卡/交通卡</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>

        </div>
        <!--资产信息/时空行为/图像信息/背景信息-->
        <div class="InfoBox">
            <!--资产信息-->
            <div class="information asset">
                <div class="info_title">资产信息</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>有形资产</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>无形资产</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--时空行为-->
            <div class="information timespace">
                <div class="info_title">时空行为</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>吃</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>住</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>行</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>消费</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>娱乐</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--图像信息-->
            <div class="information imgInfo">
                <div class="info_title">图像信息</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>照片库</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>视频库</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>声音库</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>文档库</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--背景信息-->
            <div class="information bgcInfo">
                <div class="info_title">背景信息</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>非正常身份背景</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>正常身份背景</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
        </div>

        <!--关系图谱/落脚点/标签-->
        <div class="InfoBox">
            <!--关系图谱-->
            <div class="information relative">
                <div class="info_title">关系图谱</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>实体关系</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>事件关系</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--落脚点-->
            <div class="information foothold">
                <div class="info_title">落脚点</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>临时落脚点</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>固定落脚点</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
            <!--标签-->
            <div class="information labelling">
                <div class="info_title">标签</div>
                <ul>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>旅馆</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>网吧</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>民航</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>铁路</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>通联</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>监所</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>常口</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>暂口</span>
                        <span>3</span>
                    </li>
                    <li>
                        <img src="../static/images/eat.png" alt="">
                        <span>前科</span>
                        <span>3</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--主体部分结束-->
</body>
</html>