<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全息档案交互</title>
</head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/interactivity.css" />
<link rel="stylesheet" type="text/css" href="../static/css/interactivities.css" />
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.css"  type="text/css" />
<link rel="stylesheet" href="../static/css/frame.css" type="text/css">

<body>
<!--头部开始-->
<header>
    <div class="titleText">
        <h2>智推</h2>
        <span>数据建模分析平台</span>
    </div>
    <!--智能推荐...-->
    <ul class="titleList">
        <li>智能推荐</li>
        <li>标签工厂</li>
        <li class="active">超市模型
            <!--小三角-->
            <span></span>
        </li>
        <li>数据云池
            <!--小三角-->
            <span></span>
        </li>
    </ul>
    <!--头部右边的logo-->
    <div class="titleLogo">
        <!--设置图标-->
        <div class="headerIcon">
            <i class="fa fa-question-circle"></i>
            <i class="fa fa-gear"></i>
        </div>
        <!--头像-->

        <div class="nameBox">
            <div class="perImg"></div>
            <!--<div>-->
                <!--<span>张三</span>-->
                <!--<span>萧山公安局</span>-->
            <!--</div>-->
        </div>
    </div>
</header>
<!--头部结束-->
<!--主体部分-->
<section>
    <!--右边固定的tab栏-->
    <ul class="fixTab">
        <span class="menuBtn fa fa-bars"></span>
        <li>
            <img src="../static/images/info.png" alt="">
            <span>基本信息</span>
        </li>
        <li class="active">
            <img src="../static/images/info.png" alt="">
            <span>生物特征</span>
            <ul class="subMenu">
                <li class="active">身体特征</li>
                <li>生物识别</li>
            </ul>
        </li>
        <li>
            <img src="../static/images/info.png" alt="">
            <span>基本信息</span>
        </li>
        <li>
            <img src="../static/images/info.png" alt="">
            <span>基本信息</span>
        </li>
        <li>
            <img src="../static/images/info.png" alt="">
            <span>基本信息</span>
        </li>
        <li>
            <img src="../static/images/info.png" alt="">
            <span>基本信息</span>
        </li>
    </ul>
    <!--标题-->
    <ul class="title-sec">
        <li>超市模型
            <i class="fa fa-arrow-right"></i>
        </li>
        <li>涉黄
            <i class="fa fa-arrow-right"></i>
        </li>
        <li class="active">全息档案</li>
    </ul>
    <!--身体特征-->
    <div class="infoBox physical">
        <div class="informationTitle">
            <span>身体特征</span>
        </div>
        <dl class="secondary">
            <dt>身高</dt>
            <dd>170cm 【萧山公安分局】<span>2017-04-09</span></dd>
            <dd>160cm 【萧山公安分局】<span>2017-04-09</span></dd>
            <dt>口音</dt>
            <dd>杭州口音</dd>
            <dt>血型</dt>
            <dd>o型</dd>
            <dt>脸型</dt>
            <dd>圆脸微胖 【萧山公安分局】<span>2017-06-12</span></dd>
            <dt>体重</dt>
            <dd>90kg 【萧山公安分局】<span>2016-06-09</span></dd>
            <dd>90kg 【萧山公安分局】<span>2016-06-09</span></dd>
            <dd>92kg 【滨江公安分局】<span>2016-06-09</span></dd>
            <dt>体型</dt>
            <dd>微胖 【萧山公安分局】<span>2016-06-09</span></dd>
            <dd>微胖 【萧山公安分局】<span>2016-06-09</span></dd>
            <dd>微胖 【滨江公安分局】<span>2016-06-09</span></dd>
        </dl>
    </div>
    <!--生物识别-->
    <div class="infoBox biometric">
        <div class="informationTitle">
            <span>生物识别</span>
        </div>
        <div class="biometric-title">指纹</div>
        <!--指纹图片信息-->
        <div class="fingerprint">
            <ul>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
            </ul>
            <!--右箭头-->
            <i class="fa fa-arrow-right"></i>
        </div>
        <div class="biometric-title">掌纹</div>
        <!--掌纹图片信息-->
        <div class="palmprint">
            <ul>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
                <li>
                    <div class="biometricImg"></div>
                    <span class="data">2017-04-05</span>
                    <span class="acquisition">萧山公安局采集</span>
                </li>
            </ul>

        </div>
    </div>
    <!--有形资产-->
    <div class="infoBox tangibleAssets">
        <div class="informationTitle">
            <span>有形资产</span>
        </div>
        <div class="assets-title">房产</div>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>房产地址</th>
                <th>房产类型</th>
                <th>产权</th>
                <th>面积</th>
                <th>管辖区域</th>
                <th>购房时间</th>
                <th>是否抵押</th>
                <th>初次登记信息</th>
            </tr>
            <tr>
                <td>浙江省杭州市西湖区西湖小镇</td>
                <td>商住两用</td>
                <td>70年</td>
                <td>89平</td>
                <td>杭州市西湖区</td>
                <td>2014-02-04</td>
                <td>否</td>
                <td>2014-02-04 10:00</td>
            </tr>
        </table>
        <div class="assets-title">车产</div>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>房产地址</th>
                <th>房产类型</th>
                <th>产权</th>
                <th>面积</th>
                <th>管辖区域</th>
                <th>购房时间</th>
                <th>是否抵押</th>
                <th>初次登记信息</th>
            </tr>
            <tr>
                <td>浙江省杭州市西湖区西湖小镇</td>
                <td>商住两用</td>
                <td>70年</td>
                <td>89平</td>
                <td>杭州市西湖区</td>
                <td>2014-02-04</td>
                <td>否</td>
                <td>2014-02-04 10:00</td>
            </tr>
        </table>
        <div class="assets-title">工商企业</div>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>房产地址</th>
                <th>房产类型</th>
                <th>产权</th>
                <th>面积</th>
                <th>管辖区域</th>
                <th>购房时间</th>
                <th>是否抵押</th>
                <th>初次登记信息</th>
            </tr>
            <tr>
                <td>浙江省杭州市西湖区西湖小镇</td>
                <td>商住两用</td>
                <td>70年</td>
                <td>89平</td>
                <td>杭州市西湖区</td>
                <td>2014-02-04</td>
                <td>否</td>
                <td>2014-02-04 10:00</td>
            </tr>
        </table>
    </div>
    <!--无形资产-->
    <div class="infoBox tangibleAssets">
        <div class="informationTitle">
            <span>无形资产</span>
        </div>
        <div class="assets-title">银行卡号</div>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>银行名称</th>
                <th>银行卡号</th>
                <th>登记手机号码</th>
                <th>开户行</th>
                <th>银行卡类别</th>
                <th>开户时间</th>
            </tr>
            <tr>
                <td>中国建设银行</td>
                <td>27388344489949222</td>
                <td>1330689655</td>
                <td>滨江支行</td>
                <td>白金卡</td>
                <td>2016-03-05</td>
            </tr>
            <tr>
                <td>杭州银行</td>
                <td>27388344489949222</td>
                <td>1330689655</td>
                <td>西湖支行</td>
                <td>白金卡</td>
                <td>2016-03-05</td>
            </tr>
        </table>

    </div>
    <!--返回顶部按钮-->
    <div class="backButton">
        <i class="fa fa-arrow-circle-up"></i>
    </div>
</section>
<!--弹出框-->
<!--透明黑色背景-->
<div class="popupBgc">
    <!--白色框-->
    <div class="popup">
        <div class="popup-title">
            <span class="popup-text">萧山公安局采集</span>
            <span class="popup-data">2017-02-11</span>
        </div>
        <!--关闭按钮-->
        <div class="clone">x</div>
        <!--轮播-->
        <div class="banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                <!--</ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <ul>
                            <li>
                                <div class="fingerImg"></div>
                                <span>食指</span>
                            </li>
                            <li>
                                <div class="fingerImg"></div>
                                <span>中指</span>
                            </li>
                            <li>
                                <div class="fingerImg"></div>
                                <span>无名指</span>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <div class="fingerImg"></div>
                                <span>食指</span>
                            </li>
                            <li>
                                <div class="fingerImg"></div>
                                <span>中指</span>
                            </li>
                            <li>
                                <div class="fingerImg"></div>
                                <span>无名指</span>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--下载按钮-->
        <div class="text-center">
            <span class="download">下载</span>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('.fingerprint').on('click',function () {
            $('.popupBgc').css({
                display:'block'
            });
        });
        $('.clone').on('click',function () {
            $('.popupBgc').css('display','none');
        });


        $('.backButton').on('click',function () {
            $("html,body").stop().animate({scrollTop:0}, 500);
        });

    })
</script>
</html>