<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全息档案</title>
</head>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../static/plugin/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/archives.css">
<link rel="stylesheet" href="../static/css/template.css">
<body>
    <!--侧边栏-->
    <div class="sidrbar-bgc"> </div>
    <div class="sidebar">
        <ul class="menu1">
            <li>生物特征
                <ul class="menu2">

                </ul>
            </li>
            <li>登记信息
                <ul class="menu2">

                </ul>
            </li>
            <li>资产信息
                <ul class="menu2">

                </ul>
            </li>
            <li>时空行为
                <ul class="menu2">

                </ul>
            </li>
            <li>图像信息
                <ul class="menu2">

                </ul>
            </li>
            <li>背景信息
                <ul class="menu2">

                </ul>
            </li>
            <li>关系图谱
                <ul class="menu2">

                </ul>
            </li>
            <li>标签
                <ul class="menu2">

                </ul>
            </li>
            <li>落脚点
                <ul class="menu2">

                </ul>
            </li>
        </ul>
    </div>
    <!--头部开始-->
    <head>
        <div class="head-box">
            <div class="head-top">
                <!--返回-->
                <div class="back-box"><i class="fa fa-chevron-left"></i></div>
                <!--文字-->
                <h1 class="text">全息档案</h1>
                <!--右方图标-->
                <div class="head-icon"><i class="fa fa-align-right"></i></div>
            </div>
            <div class="head-bottom">
                <div class="personImg"><img src="" alt=""></div>
                <div class="baseInfo">
                    <span class="name">张大大</span>
                    <span class="crardId">4103748086890</span>
                </div>
                <div class="arrow"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </head>
    <!--头部结束-->
    <!--主体部分-->

    <section>
        <!--个人基本信息-->
        <div class="personBaseInfo marR-bg">
            <div class="sex"><span>性别</span>男</div>
            <div class="birth"><span>出生日期</span>1986-6-23</div>
            <div class="national"><span>民族</span>汉族</div>
            <div class="native"><span>籍贯</span>浙江省 杭州市</div>
            <div class="domicile"><span>户籍地</span>浙江省 杭州市</div>
        </div>
        <!--非正常背景信息-->
        <div class="abnormal">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">非正常背景信息</div>
            </div>
            <div class="abnomal-type-chart" id="dataTypeChart" style="height: 400px">

            </div>
        </div>
        <!--生物特征-->
        <div class="marR-bg biological">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">生物特征</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/renyuan.png" alt="">
                    <span class="text">身体特征</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/swsb.png" alt="">
                    <span class="text">生物识别</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--登记信息-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">登记信息</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/jibendengji.png" alt="">
                    <span class="text">基本登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/jydj.png" alt="">
                    <span class="text">教育登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/lndj.png" alt="">
                    <span class="text">老年登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/jbdj.png" alt="">
                    <span class="text">疾病登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/mzdj.png" alt="">
                    <span class="text">门诊登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/zsdj.png" alt="">
                    <span class="text">住宿登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/crjdj.png" alt="">
                    <span class="text">出入境</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/jzdj.png" alt="">
                    <span class="text">驾照登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/kddj.png" alt="">
                    <span class="text">快递登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/zcdj.png" alt="">
                    <span class="text">租车登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/zydj.png" alt="">
                    <span class="text">职业登记</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/ggsy.png" alt="">
                    <span class="text">公共事业</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/ybsb.png" alt="">
                    <span class="text">医保/社保</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/smk.png" alt="">
                    <span class="text">市民卡/交通卡</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--资产信息-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">资产信息</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/yxzc.png" alt="">
                    <span class="text">有形资产</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/wxzc.png" alt="">
                    <span class="text">无形资产</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--时空行为-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">时空行为</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/eat.png" alt="">
                    <span class="text">吃</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/love.png" alt="">
                    <span class="text">住</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/line.png" alt="">
                    <span class="text">行</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/shop.png" alt="">
                    <span class="text">消费</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/yl.png" alt="">
                    <span class="text">娱乐</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--图像信息-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">图像信息</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/zpk.png" alt="">
                    <span class="text">照片库</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/spk.png" alt="">
                    <span class="text">视频库</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/syk.png" alt="">
                    <span class="text">声音库</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/wdk.png" alt="">
                    <span class="text">文档库</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--背景信息-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">背景信息</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/fzcsf.png" alt="">
                    <span class="text">非正常身份</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/zcsf.png" alt="">
                    <span class="text">正常身份</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--关系图谱-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">关系图谱</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/stgx.png" alt="">
                    <span class="text">实体关系</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/sjgx.png" alt="">
                    <span class="text">事件关系</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--落脚点-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">落脚点</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/lsljd.png" alt="">
                    <span class="text">临时落脚点</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/gdljd.png" alt="">
                    <span class="text">固定落脚点</span>
                    <span class="num">18</span>
                </li>
            </ul>
        </div>
        <!--标签-->
        <div class="marR-bg">
            <div class="title-box">
                <div class="bar"></div>
                <div class="title">标签</div>
            </div>
            <ul class="iconInfo">
                <li >
                    <img src="../static/images/lg.png" alt="">
                    <span class="text">旅馆</span>
                    <span class="num">18</span>
                    <span class="red">23</span>
                </li>
                <li >
                    <img src="../static/images/wb.png" alt="">
                    <span class="text">网吧</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/mh.png" alt="">
                    <span class="text">民航</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/tl.png" alt="">
                    <span class="text">铁路</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/tls.png" alt="">
                    <span class="text">通联</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/js.png" alt="">
                    <span class="text">监所</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/ck.png" alt="">
                    <span class="text">常口</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/zk.png" alt="">
                    <span class="text">暂口</span>
                    <span class="num">18</span>
                </li>
                <li >
                    <img src="../static/images/qk.png" alt="">
                    <span class="text">前科</span>
                    <span class="num">18</span>
                </li>


            </ul>
        </div>
    </section>
</body>
<script type="text/javascript" src="../static/plugin/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/plugin/jquery/jquery-1.8.3.js"></script>
<!--<script type="text/javascript" src="../staic/plugin/echarts/echarts-3.1.2/echarts.js"></script>-->
<script src="https://cdn.bootcss.com/echarts/4.0.0/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/archives.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement, resizeEvt = 'onorientationchange' in window ? 'onorientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if (clientWidth >= 750) {
                    docEl.style.fontSize = '100px';
                } else {
                    docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                }
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript">
    $(function () {
        $('.head-icon').on('click',function () {
            $('.sidebar ').css({right:'0'});
            $('.sidrbar-bgc').stop().fadeIn();
        })
        $('.sidrbar-bgc').on('click',function () {
            $('.sidebar ').css({right:'-100%'});
            $('.sidrbar-bgc').stop().fadeOut();
        })
    })
</script>
</html>