body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:857px;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:857px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:420px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933 {
  position:absolute;
  left:877px;
  top:314px;
  width:123px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
